.git
.github
vendor
node_modules
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.result.cache
storage/app/output/*
!storage/app/output/.gitkeep
storage/app/soffice_profiles/*
storage/app/soffice_home/*
storage/logs/*
!storage/logs/.gitkeep
tests
*.md
Dockerfile*
.dockerignore
